* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
    text-align: center;

}

h2 {
    text-align: center;
    color: rgb(46, 222, 163);
}

.block input {
    width: 100px;
    outline: none;
    padding: 10px;
    border: double 1px rgb(46, 222, 163);
    border-radius: 5px;
}

input:focus {
    border: 2px solid grey;
}

.block {
    text-align: center;
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}

.title {
    font-size: 25px;
    letter-spacing: 0.5px;
    color: gray;
}

button {
    padding: 10px;
    border: none;
    background-color: rgb(33, 164, 121);
    color: white;
    border-radius: 5px;
    width: 25%;
    margin: 5% 0;
    cursor: pointer;
}

button:hover {
    transition: 0.6s;
    background-color: rgb(20, 59, 20);
    border: none;
}


.age {
    width: 30%;
    color: rgb(17, 188, 131);
    text-align: center;
    margin: auto;
    font-size: 20px;
}